

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
} */


html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* html {
  scroll-behavior: smooth;
} */


@import "tailwindcss";

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 100s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-100% - 0.9rem));
    }
  }
}

